PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS=*
SENTRY_DSN=your_sentry_dsn_here
# MongoDB Connection String
MONGODB_URI=mongodb+srv://PDFToolkit:n1aVoueuN58znrKD@cluster0.hyrlczi.mongodb.net/?appName=Cluster0
# Puppeteer Settings
PUPPETEER_CACHE_DIR=/tmp/puppeteer